<!DOCTYPE html>
<html>
  <head>
    <title>Code Fellows Contact Manager</title>

    <!-- bower:js -->
    <script src="jquery/jquery.js"></script>
    <script src="fabric/fabric.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->

    <!-- Application Styles and Scripts -->
    <link rel="stylesheet" href="jsbootcamp.css">
    <link rel="stylesheet" href="font-awesome.css">
    
    <script src="contactlist.js"></script>
    <script>
      $(document).ready(function() {
        makeEmailButtonClickable();
        makeContactRowClickable();
        makeTableHeadSortable();
      });
    </script>
  </head>

  <body>
    <h1>Contact List</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Nick Name</th>
          <th>Company Name</th>
        </tr>
      <thead>

      <tbody>
        {{#each contacts}}
          <tr data-contact-guid="{{guid}}">
            <td>{{lastName}}</td>
            <td>{{firstName}}</td>
            <td>{{nickname}}</td>
            <td>{{company}}</td>
            <td><button class="send-email">Email</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </body>
</html>
